<div class="container">
  <div class="row" style="margin-top: 10px;">
    <div class="col-sm-2 pull-left">
        <button class="boton-primary btn" style="background-color: #FF9800;" 
          (click)="autoMode()">Automatico</button>
    </div>
  </div>
  <div class="row">
    <app-dispositivo *ngFor="let dispositivo of dispositivoList" 
      [$key]="dispositivo.$key" 
      [estado]="dispositivo.estado" 
      [nombre]="dispositivo.nombre"
      [puerto]="dispositivo.puerto" 
      [descripcion]="dispositivo.descripcion"
      [tipo]="dispositivo.tipo"></app-dispositivo>
  </div>
  <p>Notificaciones</p>
  <app-notificacion *ngFor="let notificacion of notificacionList"
    [fecha]="notificacion.fecha"  
    [hora]="notificacion.hora"
    [estado]="notificacion.estado"
    [nombreDispositivo]="notificacion.nombreDispositivo"></app-notificacion>
</div>