<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-success" *ngIf="estado === 'encendido'">
      El {{ nombreDispositivo }} fue {{ estado }} a las {{ hora }} el dia {{ fecha }}
    </div>
    <div class="alert alert-danger" *ngIf="estado === 'apagado'">
      El {{ nombreDispositivo }} fue {{ estado }} a las {{ hora }} el dia {{ fecha }}
    </div>
    <div class="alert alert-info" *ngIf="estado === 'puesto en automatico'">
      El {{ nombreDispositivo }} fue {{ estado }} a las {{ hora }} el dia {{ fecha }}
    </div>
  </div>
</div>